@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Colors */

:root {
    --bgColor: #E0E8FF;
    --white: #FFFFFF;
    --black55: #1f2e55;
    --gray6: #717fa6;
    --whiteF: #f7f9ff;
    --blue1: #382ae1;
    --hoverBtn: #766CF1;
}

/* Colors */

body {
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: var(--bgColor);
}

.card {
    width: 450px;
    background-color: var(--white);
    box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);
    border-radius: 20px;
}

.hero {
    max-width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.card > h3 {
    margin-top: 24px;
    height: 37px;
    font-weight: 900;
    font-size: 28px;
    text-align: center;
    color: var(--black55);
}

.card > p {
    margin-top: 16px;
    height: 78px;
    line-height: 26px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin-left: 48px;
    margin-right: 48px;
}

.music_container {
    width: 354px;
    height: 98px;
    margin-top: 20px;
    margin-left: 48px;
    margin-right: 48px;
    padding: 25px 24px 25px 24px;
    border-radius: 11px;
    display: flex;
    align-items: center;
}

.music_icon {
    width: 48px;
    height: 48px;
}

.price { margin-left: 20px; }

.price > h4 {
    font-weight: 900;
    font-size: 16px;
    color: var(--black55);
}

.price > span {
    font-weight: 500;
    font-size: 16px;
    color: var(--gray6);
    margin-top: 6px;
}

.change { 
    margin-left: 68px; 
    width: 52px;
    height: 19px;
    font-weight: 700;
    font-size: 14px;
    color: var(--blue1);
}

.change:hover {
    color: var(--hoverBtn);
    text-decoration: none;
}

.payment {
    width: 354px;
    height: 50px;
    margin-left: 48px;
    margin-right: 48px;
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--blue1);
    box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
    border-radius: 11px;
}

.payment:hover {
    background-color: var(--hoverBtn);
}

.payment > h5 {
    width: 150px;
    height: 20px;
    font-weight: 900;
    font-size: 15px;
    color: var(--white);
}

h6 {
    margin-top: 32px;
    margin-bottom: 48px;
    text-align: center;

    font-weight: 900;
    font-size: 15px;
    color: var(--gray6);
}

h6:hover {
    color: var(--black55);
}

.payment:hover,
h6:hover {
    cursor: pointer;
}